section.advantages 
  .container 
    h2 #[span.yellow Наши] преимущества
    p Доверьте выбор автомобиля профессионалам
    .advantages__inner 
      .advantages__list
        .advantages__item
          img(src="./wp-content/themes/automovers/assets/img/icons/advantages-3.svg" width="62" height="62" alt="" loading="lazy")
          .advantages__item-content
            h3 Широкий выбор автомобилей
            p Нвша компания предлагает большой ассортимент автомобилей разных марок, моделей, годов выпуска и комплектаций.
        .advantages__item
          img(src="./wp-content/themes/automovers/assets/img/icons/advantages-6.svg" width="62" height="62" alt="" loading="lazy")
          .advantages__item-content
            h3 Высокий уровень качества
            p Компания Auto Movers осуществляет тщательную проверку каждого автомобиля перед его продажей, в том числе техническое
              | состояние всех основных систем.
        .advantages__item
          img(src="./wp-content/themes/automovers/assets/img/icons/advantages-1.svg" width="62" height="62" alt="" loading="lazy")
          .advantages__item-content
            h3 Конкурентные цены
            p Мы стараемся предоставить конкурентные цены, чтобы сделать свои автомобили доступными для широкого круга покупателей.
        .advantages__item
          img(src="./wp-content/themes/automovers/assets/img/icons/advantages-5.svg" width="62" height="62" alt="" loading="lazy")
          .advantages__item-content
            h3 Репутация и отзывы
            p Auto Movers имеет высокую репутацию благодаря отличному уровню обслуживания, что подтверждается положительными отзывами клиентов.
        .advantages__item
          img(src="./wp-content/themes/automovers/assets/img/icons/advantages-4.svg" width="62" height="62" alt="" loading="lazy")
          .advantages__item-content
            h3 Партнерство с надежными поставщикам
            p Мы сотрудничаем только с надежными поставщиками, что позволяет нам предлагать высококачественные автомобили по конкурентоспособным ценам.
        .advantages__item
          img(src="./wp-content/themes/automovers/assets/img/icons/advantages-2.svg" width="62" height="62" alt="" loading="lazy")
          .advantages__item-content
            h3 Индивидуальный подход
            p Мы стремимся к индивидуальному подходу к каждому клиенту, понимая их уникальные потребности и предпочтения.