nav.nav
  ul(role="menu").menu
    li(role="menuitem").menu-item.menu-item--active
      a(href="#services") Главная
    li(role="menuitem").menu-item 
      a(href="#price") Преимущества
    li(role="menuitem").menu-item 
      a(href="#reviews") Каталог автомобилей
    li(role="menuitem").menu-item 
      a(href="#photo") Отзывы
    li(role="menuitem").menu-item 
      a(href="#photo") О нас
    li(role="menuitem").menu-item 
      a(href="#photo") Контакты
