section.single 
  .breadcrumbs
    .breadcrumbs__item 
      .breadcrumbs__link 
        a(href="index.html") Home 
      span.breadcrumbs-slash / Mercedes-Benz A-Класс 
  .container 
    h1 Mercedes-Benz A-Класс
    .single__inner 
      .single-gallery
        h2 Галерея
        a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-1.jpg").gallery-img.gallery-img--large
          img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-1.jpg" alt="Mercedes-Benz")
        .single-gallery-thumbs
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-2.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-2.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-3.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-3.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-4.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-4.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-5.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-5.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-2.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-2.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-3.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-3.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-4.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-4.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-5.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-5.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-2.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-2.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-3.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-3.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-4.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-4.jpg" alt="Mercedes-Benz")
          a(data-fslightbox, href="./wp-content/themes/automovers/assets/img/Mercedes-Benz-5.jpg").gallery-img.gallery-img--small
            img(src="./wp-content/themes/automovers/assets/img/Mercedes-Benz-5.jpg" alt="Mercedes-Benz")
      .single-tech
        h2 Технические характеристики
        .table-wrap
          table.table
            tr
              th Статус
              td В наличии
            tr
              th Поколение
              td VII (W223)
            tr
              th Год выпуска
              td 2022
            tr
              th Пробег
              td 36 000 км
            tr
              th Кузов
              td Седан
            tr
              th Цвет
              td Чёрный
            tr
              th Двигатель
              td 2.9 л / 330 л.с. / Дизель
            tr
              th Комплектация
              td S 400 d 4MATIC
            tr
              th Коробка
              td Автоматическая
            tr
              th Привод
              td Полный
            tr
              th Руль
              td Левый
            tr
              th Состояние
              td Не требует ремонта
            tr
              th ПТС
              td Оригинал
            tr
              th Таможня
              td Растаможен
            tr
              th VIN
              td W1K**************
    .single-description 
      h2 Описание модели
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, repellat culpa ut exercitationem minus esse eligendi natus 
        | voluptates aut vitae, provident quasi necessitatibus consequuntur dolor alias neque? Quaerat, culpa amet ut nobis deserunt libero 
        | consequatur ex, quam eligendi excepturi iure a modi maxime tempora nisi rerum beatae. Voluptates nam beatae magni voluptatibus 
      P illum, aperiam, illo vero in nemo neque incidunt deserunt aspernatur fuga pariatur? Ex perferendis dolore similique beatae distinctio velit, 
        | cum nihil quo ea animi fugit repudiandae odit hic amet cupiditate enim atque aliquam est unde consectetur nulla minus culpa saepe. 
        | Laboriosam ad, nisi accusantium fuga fugiat repudiandae qui veritatis vero natus. Pariatur harum minus enim magni quia libero nesciunt sit 
        | illum consequuntur, maiores perferendis veniam rem accusamus sunt et placeat. Perferendis provident inventore ea quod quae rem ipsum.
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, repellat culpa ut exercitationem minus esse eligendi natus 
        | voluptates aut vitae, provident quasi necessitatibus consequuntur dolor alias neque? Quaerat, culpa amet ut nobis deserunt libero 
        | consequatur ex, quam eligendi excepturi iure a modi maxime tempora nisi rerum beatae. Voluptates nam beatae magni voluptatibus 
      P illum, aperiam, illo vero in nemo neque incidunt deserunt aspernatur fuga pariatur? Ex perferendis dolore similique beatae distinctio velit, 
        | cum nihil quo ea animi fugit repudiandae odit hic amet cupiditate enim atque aliquam est unde consectetur nulla minus culpa saepe. 
        | Laboriosam ad, nisi accusantium fuga fugiat repudiandae qui veritatis vero natus. Pariatur harum minus enim magni quia libero nesciunt sit 
        | illum consequuntur, maiores perferendis veniam rem accusamus sunt et placeat. Perferendis provident inventore ea quod quae rem ipsum.
