a(href="index.html").logo
  img(src="./wp-content/themes/automovers/assets/img/icons/logo.svg" width="80" height="80" alt="Логотип компании Auto Movers" loading="lazy")
  .logo__text
    span Auto Movers
    span Импортируем легенды, создаем впечатления!
