section#reviews.reviews 
  .container 
    h2 #[span.yellow Отзывы] о компании
    p Наша цель — исполнить вашу мечту
    .reviews__inner 
      .swiper-wrap
        .swiper-slider-arrows 
          .arrow__left &#8592;
          .arrow__right &#8594;
        .swiper.sliderReviews
          .swiper-wrapper
            .swiper-slide
              .swiper-slide__author 
                img(src="./wp-content/themes/automovers/assets/img/user.jpg" width="60" height="60" alt="" loading="lazy")
                p Иван Иванов
              .swiper-slide__review 
                p Я очень доволен своим опытом работы с компанией Auto Movers. Они предоставили мне отличный выбор автомобилей из США и 
                  | помогли с каждым шагом процесса. Мой новый автомобиль был доставлен безупречно, и он полностью соответствует описанию. 
                  | Благодаря Auto Movers я теперь владею прекрасным автомобилем, о котором я всегда мечтал. Рекомендую эту компанию всем, кто 
                  | ищет надежного партнера для покупки автомобиля.
            .swiper-slide
              .swiper-slide__author 
                img(src="./wp-content/themes/automovers/assets/img/user.jpg" width="60" height="60" alt="" loading="lazy")
                p Иван Иванов
              .swiper-slide__review 
                p Я очень доволен своим опытом работы с компанией Auto Movers. Они предоставили мне отличный выбор автомобилей из США и 
                  | помогли с каждым шагом процесса. Мой новый автомобиль был доставлен безупречно, и он полностью соответствует описанию. 
                  | Благодаря Auto Movers я теперь владею прекрасным автомобилем, о котором я всегда мечтал. Рекомендую эту компанию всем, кто 
                  | ищет надежного партнера для покупки автомобиля.
            .swiper-slide
              .swiper-slide__author 
                img(src="./wp-content/themes/automovers/assets/img/user.jpg" width="60" height="60" alt="" loading="lazy")
                p Иван Иванов
              .swiper-slide__review 
                p Я очень доволен своим опытом работы с компанией Auto Movers. Они предоставили мне отличный выбор автомобилей из США и 
                  | помогли с каждым шагом процесса. Мой новый автомобиль был доставлен безупречно, и он полностью соответствует описанию. 
                  | Благодаря Auto Movers я теперь владею прекрасным автомобилем, о котором я всегда мечтал. Рекомендую эту компанию всем, кто 
                  | ищет надежного партнера для покупки автомобиля.
            .swiper-slide
              .swiper-slide__author 
                img(src="./wp-content/themes/automovers/assets/img/user.jpg" width="60" height="60" alt="" loading="lazy")
                p Иван Иванов
              .swiper-slide__review 
                p Я очень доволен своим опытом работы с компанией Auto Movers. Они предоставили мне отличный выбор автомобилей из США и 
                  | помогли с каждым шагом процесса. Мой новый автомобиль был доставлен безупречно, и он полностью соответствует описанию. 
                  | Благодаря Auto Movers я теперь владею прекрасным автомобилем, о котором я всегда мечтал. Рекомендую эту компанию всем, кто 
                  | ищет надежного партнера для покупки автомобиля.
            .swiper-slide
              .swiper-slide__author 
                img(src="./wp-content/themes/automovers/assets/img/user.jpg" width="60" height="60" alt="" loading="lazy")
                p Иван Иванов
              .swiper-slide__review 
                p Я очень доволен своим опытом работы с компанией Auto Movers. Они предоставили мне отличный выбор автомобилей из США и 
                  | помогли с каждым шагом процесса. Мой новый автомобиль был доставлен безупречно, и он полностью соответствует описанию. 
                  | Благодаря Auto Movers я теперь владею прекрасным автомобилем, о котором я всегда мечтал. Рекомендую эту компанию всем, кто 
                  | ищет надежного партнера для покупки автомобиля.
            .swiper-slide
              .swiper-slide__author 
                img(src="./wp-content/themes/automovers/assets/img/user.jpg" width="60" height="60" alt="" loading="lazy")
                p Иван Иванов
              .swiper-slide__review 
                p Я очень доволен своим опытом работы с компанией Auto Movers. Они предоставили мне отличный выбор автомобилей из США и 
                  | помогли с каждым шагом процесса. Мой новый автомобиль был доставлен безупречно, и он полностью соответствует описанию. 
                  | Благодаря Auto Movers я теперь владею прекрасным автомобилем, о котором я всегда мечтал. Рекомендую эту компанию всем, кто 
                  | ищет надежного партнера для покупки автомобиля.
