footer.footer 
  .container 
    .footer__inner
      include ./../../bem-blocks/logo/logo.pug
      .header__inner-wrap
        include ./../../bem-blocks/nav/nav.pug
      //- .header__contacts
      //- include ./../../bem-blocks/socials/socials.pug
      //- include ./../../bem-blocks/phone/phone.pug
      //- include ./../../bem-blocks/email/email.pug
    .copyright Copyright © 2023