.card {
  width: 28rem;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0.5rem 1.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--yellow_1);
  background: var(--white_1);

  @media (min-width: 600px) {
    width: 26rem;
  }

  @media (min-width: 768px) {
    width: 28rem;
  }

  @media (min-width: 1024px) {
    width: 25rem;
  }

  @media (min-width: 1200px) {
    width: 28rem;
  }
  
  img {
    margin-bottom: 2rem;
    border-radius: 0.5rem;
  }

  h3 {
    margin-bottom: 2rem;
    @include OpenSansBold();
    font-size: 2.2rem;
    line-height: 130%;
    color: var(--black_1);
  }

  &__price {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    @include OpenSansBold();
    font-size: 1.8rem;
    line-height: 130%;
    color: var(--black_1);
  }

  a {
    padding: 1rem 2rem;
    align-self: flex-start;
  }
}