article.card 
  img(src="./wp-content/themes/automovers/assets/img/car.jpg" width="350" height="200" alt="" loading="lazy")
  h3 Mercedes
  p.card__price Цена:
    span 500 000 ₽
  a(href="single.html").btn Подробнее