main.main 
  .slider
    .slide(style="background-image: url(./wp-content/themes/automovers/assets/img/slide-1.jpg);")
    .slide(style="background-image: url(./wp-content/themes/automovers/assets/img/slide-2.jpg);")
    .slide(style="background-image: url(./wp-content/themes/automovers/assets/img/slide-3.jpg);")
    .slide(style="background-image: url(./wp-content/themes/automovers/assets/img/slide-1.jpg);")
    .slide(style="background-image: url(./wp-content/themes/automovers/assets/img/slide-2.jpg);")
  .main__inner
    h1 #[span.yellow Продажа] автомобилей из США
    p Широкий ассортимент и регулярные поступления моделей
    ul
      li Поможем определиться с моделью
      li Проконсультируем по любым вопросам
      li Доставим автомобиль на заказ
    a(href="#catalog").btn.main__btn Перейти в каталог