.phone {
  margin-bottom: 1.5rem;

  @media (min-width: 1024px) {
    margin-bottom: 0.5rem;
  }

  a {
    display: block;
    @include OpenSansMedium();
    font-size: 1.6rem;
    line-height: 130%;
    color: var(--black_1);
    will-change: color;
    transition: color 0.3s ease-in-out;

    @media (min-width: 1200px) {
      // @include RobotoRegular();
      color: var(--white_1);
    }

    &:hover,
    &:focus {
      color: var(--yellow_1);
    }
  }
}