header.header
  .container 
    .header__inner 
      include ./../../bem-blocks/logo/logo.pug
      include ./../../bem-blocks/burger/burger.pug
      .header__inner-wrap
        include ./../../bem-blocks/nav/nav.pug
        include ./../../bem-blocks/socials/socials.pug
        .header__contacts
          include ./../../bem-blocks/phone/phone.pug
          include ./../../bem-blocks/email/email.pug