extends ./../layouts/main

block variables
  - let pageTitle = 'Auto Movers';

block content
  .wrap-feedback
  .wrapper
    include ./../components/sections/header/header.pug
    main
      include ./../components/sections/main/main.pug
      include ./../components/sections/advantages/advantages.pug
      include ./../components/sections/catalog/catalog.pug
      include ./../components/sections/about/about.pug
      include ./../components/sections/reviews/reviews.pug
    include ./../components/sections/footer/footer.pug