section.about 
  .container 
    h2 #[span.yellow Компания] Auto Movers
    p Наша компания — это команда профессионалов
    .about__inner 
      .about__text 
        p #[span.yellow Auto Movers] - эксперты в сфере поставок автомобилей. наша компания с гордостью представляет широкий выбор автомобилей из США. 
          | Наша команда экспертов тщательно отбирает каждый автомобиль, чтобы убедиться в его качестве и надежности. 
        p #[span.yellow Наша команда] профессионалов имеет богатый опыт в автомобильной индустрии и предоставит вам высококлассное обслуживание 
          | на каждом этапе сделки.
        p #[span.yellow Мы гордимся] своей репутацией надежного и проверенного поставщика автомобилей из США. Наша цель - помочь вам осуществить мечту 
          | стать владельцем автомобиля
        p #[span.yellow Присоединяйтесь] к нам и откройте двери в мир высококлассных автомобилей! 
      .about__img
        img(src="./wp-content/themes/automovers/assets/img/car.png" width="660" height="396" alt="" loading="lazy")