/* FONTS */

/* Roboto */

@mixin RobotoBold ($font-family: 'Roboto Bold', $font-weight: 700, $font-style: normal, $font-display: swap) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-display: $font-display;
}

@mixin OpenSansRegular ($font-family: 'Open Sans Regular', $font-weight: normal, $font-style: normal, $font-display: swap) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-display: $font-display;
}

@mixin OpenSansMedium ($font-family: 'Open Sans Medium', $font-weight: normal, $font-style: normal, $font-display: swap) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-display: $font-display;
}

@mixin OpenSansBold ($font-family: 'Open Sans Bold', $font-weight: normal, $font-style: normal, $font-display: swap) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-display: $font-display;
}